<% if obj.count == 0 %>
	<div class="jumbotron remove-extra-padding">
		<div class="row">
				<h3 align="center"> No articles yet !!! </h3>
		</div>
	</div>
<% else %>		
	<% obj.each do |a| %>
			<div class="jumbotron remove-extra-padding">
				<div class="row">
					<h3> <%= a.title %> </h3>
 					<p> <%= truncate(a.description, length: 50) %> </p>
 					<small> Created by : <%= a.user.username %> , 
 							<%= time_ago_in_words(a.created_at) %> ago,
 							Last updated: <%= time_ago_in_words(a.updated_at) %> ago </small>
						<div>
							<% if a.categories.any? %>
								<p>Categories: <%= render 'categories/category', obj: a %></p>
							<% end %>
							<% if logged_in? && ( current_user.id == a.user_id || current_user.admin? ) %>
  								<a class="btn btn-primary" href="<%= edit_article_path(a) %>" role="button">Edit the Article</a>
  							<% end %>
  							<a class="btn btn-primary" href="<%= article_path(a) %>" role="button">View the Article</a>

  							<% if logged_in? && (current_user.id == a.user_id || current_user.admin?) %>
  								<%= link_to "Delete", article_path(a), method: :delete, data: { confirm: "Are you sure you want to delete this ?"}, 
  								class: "btn btn-primary" %>
  							<% end %>
						</div>
			</div>
  		</div>
	<% end %>
<% end %>