<div class="jumbotron remove-extra-padding">
	<div class="row">
		<h3 align="center"> <%= @article.title %> </h3> 
		<h4><small> Created by : <%= @article.user.username %> , 
 							<%= time_ago_in_words(@article.created_at) %> ago	</h4>
		<hr />
	</div>
	<div class="row">
		<p> <%= @article.description %> </p>
		<% if @article.categories.any? %>
			<p>Categories: <%= render @article.categories, obj: @article %></p>
		<% end %>
		<% if logged_in? && ( current_user == @article.user_id || current_user.admin? ) %>	
			<%= link_to "Edit", edit_article_path(@article), class: "btn btn-primary" %>
			<%= link_to "Delete", article_path(@article), method: :delete, data: { confirm: "Are you sure ?"}, class: "btn btn-primary" %>
		<% end %>
	</div>
</div>