<div class ="container">
<%= form_for @user, html: {class: "form"} do |f| %>
	<div class="form-group row">
		<%= f.label :username %>
		<%= f.text_field :username, class: "form-control" %>
	</div>
	<div class="form-group row">
		<%= f.label :email %>
		<%= f.email_field :email, class: "form-control" %>
	</div>
	<div class="form-group row">
		<%= f.label :password %>
		<%= f.password_field :password, class: "form-control" %>
	</div>

	<%= f.submit( @user.new_record? ? "Sign up" : "Update User") %>


<% end %>
</div>




